<h1 class="show_title">Welcome</h1>

<% form_tag :search, :id => "search_forma", :url => {:action => "index"} do %>
  <%= text_field :search, :text, :size => 50  %>
  <%= submit_tag 'Search', :class => "default_button_class" %>
<% end %>

<br /><br />