#wrapper{
		width:1050px;
		height:auto;
		border:5px white solid;
		margin: 0 auto;
}

#wrapper #sidebar{
		width:150px;
		border:5px white solid;
		float:left;
		text-align:center;
}

#wrapper #sidebar a{
	background-color:white;
	border:1px #cccccc solid;
	width:150px;
	height:35px;
	text-align:center;
	padding-top:15px;
	display:block;
	color:black;
	text-decoration:none;
}

#wrapper #sidebar a:hover{
	background-color:#B0C4DE; 
}

#wrapper #sidebar a:active{
	background-color:#1E90FF; 
}

#wrapper #sidebar #slika{
		background-image:url("/images/sidebar title.png");
		width:150px;
		height:150px;
}

#wrapper #main{
		width:850px;
		float:right;
}

#wrapper #main tr{
	 /*border:solid #B0C4DE 2px;*/
	 background-color:#eeeeee;
}

#wrapper #main td{
	/*border:solid #B0C4DE 2px;*/
}

#wrapper #main #codes_table{
	/*border:solid #bbbbbb 5px;*/
}

/*#wrapper #main #codes_table #tr1{
	border:solid #B0C4DE 2px;
}*/