#wrapper {
	width:980px;
	height:auto;
	border:5px white solid;
	margin: 0 auto;
	
	font-family: Verdana,Geneva,sans-serif;
	color:#555555;
	font-size: 13px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}

	#wrapper h1 {
		font-family: Georgia,"Times New Roman",Times,serif;
		font-size-adjust: none;
		font-stretch: normal;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		line-height: normal;
		margin-top: 0;
	}
	
	


/*      ************WRAPPER / SIDEBAR************      */
	#wrapper #sidebar{
		height: 50px;
		background-color: #336699;
		text-align:center;
		position: relative;
	}
		
		#wrapper #sidebar p#title {
			float: left;
			margin: 0;
			font-size: 36px;
			position: relative;
			left: 20px;
			top: 1px;
			text-decoration: none;
			color: white;
		}
		
			#wrapper #sidebar a {
				text-decoration: none;
			}
		
			#wrapper #sidebar p#title a.page_title_1 {
				color: white;
			}
			
			#wrapper #sidebar p#title a.page_title_2 {
				color: white;
				margin-left:-8px;
			}
		
		#wrapper #sidebar p#title:hover {
			cursor:pointer;
		}		

		#wrapper #sidebar ul {
			float: left;
			margin: 0;
		}

		#wrapper #sidebar ul li {
			display: block;
			/*border-right: 2px #cccccc solid;*/
			height: 50px;
			float: left;
		}
		
			#wrapper #sidebar ul li:first-child {
				/*border-left: 2px #cccccc solid;*/
			}
		
			#wrapper #sidebar ul li:hover {
				background-color:#B0C4DE;
			}

			#wrapper #sidebar ul li a.buttons {
				color:white;
				text-decoration:none;
				font-size: 20px;
				display: block;
				padding: 12px;
			}
	
			#wrapper #sidebar ul li a:hover{
				background-color:#B0C4DE;
			}
	
			#wrapper #sidebar ul li a:active{
				background-color:#6495ED; 
			}
			
		/*      ************WRAPPER / MAIN / LOGINBAR ************      */	
		#wrapper #sidebar #loginbar {
			/*position: absolute;
			right: 0px;
			border: 1px #cccccc solid;*/
			color: white;
			font-size: x-small;
			position: absolute;
			right: 10px;
			top: 11px;
		}
		
			#wrapper #sidebar #loginbar a { 
				color: #cccccc;
				text-decoration: none;
			}
		
			#wrapper #sidebar #loginbar a:visited { 
				color: #cccccc;
				text-decoration: none;
			}

		
			#wrapper #sidebar #loginbar input{
				width: 50px;
				height: 13px;
				font-size: xx-small;
				border: 0;
			}
			
			#wrapper #sidebar #loginbar .login_button{
				height:13px;
				position:relative;
				top:1px;
				bottom: 1px;
			}
			
			#wrapper #sidebar #loginbar .login_button:hover{
				cursor: pointer;
				background-color: #B0C4DE;
			}


/*      ************WRAPPER / MAIN************      */
	#wrapper #main{
		/*width:820px;
		float:right;*/
		border-style: ridge;
		border-width: 1px;
		position: relative;	
		padding: 20px;
		margin-top: 10px;
		border-color: #B0C4DE;
	}
	
		#wrapper #main #search_forma {
			margin: 0 auto;
			width: 400px;
		}
		
			#wrapper #main #search_forma input[type="submit"] {
				width: auto;
			}
	
		#wrapper #main .selected {
			background-color: #B0C4DE;
		}
		
			#wrapper #main div table.firstpage_table {
				margin: 0 auto;
			}
			
				#wrapper #main div table.firstpage_table caption {
					margin-bottom: 5px;
				}

				#wrapper #main div table.firstpage_table th {
					background-color: #EEEEEE;
					font-weight: normal;
					color: #A9A9A9;
				}
				
				#wrapper #main div table.firstpage_table a {
					text-decoration: none;
					color: blue;
				}
				
				#wrapper #main div table.firstpage_table a:hover {
					text-decoration: underline;
					background-color: #B0C4DE;
				}
				
				#wrapper #main div table.firstpage_table td {
					border-bottom: solid;
					border-color: #EEEEEE;
					border-width: 1px;
				}
				
				#wrapper #main div table.firstpage_table td.drugi_stolpec {
					text-align: center;
				}

/*      ************WRAPPER / MAIN / DEFAULT BUTTON CLASS************      */
		#wrapper #main .default_button_class{
				color: black;
				text-decoration: none;
				font-size: small;
				font-weight: 100;
				border: solid #A9A9A9 1px;
				background-color: white;
				padding: 1px;
				height: auto;
				width: auto;
		}
			
			#wrapper #main .default_button_class:hover{
				background-color: #B0C4DE;
				cursor: pointer;
		}
		
		#wrapper #main .default_button_class_selected{
			background-color: #B0C4DE;
			cursor: default;
			border: none;
		}
		
		#wrapper #main .default_button_class_selected:hover{
			background-color: #B0C4DE;
			cursor: default;
		}


/*      ************WRAPPER / MAIN / LIBRARY************      */   /* code/index in profile/show */	
		#wrapper #main h1.show_title{
			color: #6495ED;
			font-weight: bold;
		}
		
		#wrapper #main #show_codes_search{
			text-align:center;
		}


/*      ************WRAPPER / MAIN / LIBRARY / LIBRARY_CATEGORIES_TABLE************      */  

		#wrapper #main .library_categories_table{
			width: 100%;
		}
		
			#wrapper #main .library_categories_table td{
				text-align: center;
				width: 10%;
				border: #cccccc solid 1px;
				padding: 0;
				margin: 0 auto;
			}
			
			
			#wrapper #main .library_categories_table td :hover{
				background-color: #B0C4DE;
				color: black;
			}
			
			#wrapper #main .library_categories_table td :active{
				background-color: #6495ED;
				color: black;
			}
			
				#wrapper #main .library_categories_table td .categories_table_a{
					text-decoration: none;
					color: black;
					display: block;
				}
			
				#wrapper #main .library_categories_table td .categories_table_a :hover{
					text-decoration: none;
					color: black;
				}
			
				#wrapper #main .library_categories_table td .categories_table_a :active{
					text-decoration: none;
					color: black;
				}
		
		
/*      ************WRAPPER / MAIN / LIBRARY / LEGEND************      */ 			
		#wrapper #main .legend_tr{
			background-color: #eeeeee;
		}
		
		#wrapper #main .legend_td{
			text-align: center;
		}
		
		#wrapper #main a.legend_a{
			color: #A9A9A9;
			font-size: small;
		}
		
		#wrapper #main a.legend_a :hover{
			text-decoration: underline;
		}


/*      ************WRAPPER / MAIN / FORM************      */   
		#wrapper #main form {
			font-size: 13px;
			color: #555555;
			font-family: Arial,Helvetica,Tahoma,Verdana,Sans-Serif;
			font-size-adjust: none;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
		}

		#wrapper #main form  {
			position: relative;	
		}
			
			#wrapper #main form input, #wrapper #main form textarea {
				width: 300px;
			}
			
			#wrapper #main form textarea#code_description {
				height: 150px;
			}
			
			#wrapper #main form textarea#code_code_body  {
				width: 600px;
			}
			
			#wrapper #main form p#program_language_id {
				left: 330px;
				position:absolute;
				top: 95px;
			}
			
			#wrapper #main form p#category_id {
				left: 465px;
				position: absolute;
				top: 95px;
			}
			
			#wrapper #main form input[type="submit"]{
				/*height: auto;
				width: auto;*/
			}
			
			#wrapper #main .search_submit{
				height: auto;
				width: auto;
			}
			

/*      ************WRAPPER / MAIN / LIBRARY / .codes_table ************      */
		#wrapper #main .codes_table {
			width: 100%;
			background-color: white;
			/*border: solid #eeeeee 2px;*/
			border-top: solid #eeeeee 1px;
		}

			#wrapper #main .codes_table td {
				background-color: white;
			}
			
			#wrapper #main .codes_table td.codes_table_td {
				background-color: #white;
				/*border: #eeeeee solid 2px;*/
				text-align: center;
				color: blue;
			}

			#wrapper #main .codes_table a{
				text-decoration: none;
				color: blue;
				font-size: medium;
			}
			
			#wrapper #main .codes_table a.codes_table_a{
				color: #A9A9A9;
				font-size: xx-small;
			}

			#wrapper #main .codes_table a:hover{
				text-decoration: underline;
				color: blue;
				background-color: #B0C4DE;
			}

			#wrapper #main .codes_table p{
				color: #B0C444;
			}
			
			#wrapper #main .codes_table p.codes_table_p{
				color: #A9A9A9;
				font-size: xx-small;
			}
			
			#wrapper #main .codes_table p.codes_table_p:hover{
				color: #A9A9A9;
				/*text-decoration: underline;*/
			}

			
/*      ************WRAPPER / MAIN / CODES_SHOW************      */			
			
/*      ************WRAPPER / MAIN / CODES_SHOW / SHOW_TITLE************      */

		#wrapper #main .show_table{
			width: 100%;
			background-color: #eeeeee;
			padding-top: 3px;
			padding-bottom: 3px;
			padding-left: 10px;
		}
		
			#wrapper #main .show_table td.show_table_td2{
				text-align: right;
				color: #555555;
				padding-right: 10px;
			}

				#wrapper #main .show_table h1.show_title{
					color: #6495ED;
					font-weight: bold;
				}
		
				#wrapper #main .show_table h1.show_title a.show_title_a{
					color:#555555;
					font-size: small;
					font-weight: normal;
				}
				
				#wrapper #main .show_table h1.show_title a.show_title_a:hover{
					text-decoration: none;
				}
		
				#wrapper #main .show_table h1.show_title a.show_title_a2{
					color: #6495ED;
					text-decoration: none;
					font-size: small;
				}
				
				#wrapper #main .show_table h1.show_title a.show_title_a2:hover{
					text-decoration: underline;
				}
				
/*      ************WRAPPER / MAIN / CODES_SHOW / SHOW_DESCRIPTION************      */
		#wrapper #main .show_description{
			width: 100%;
			border: white solid 5px;
		}
		
		#wrapper #main .show_description b.show_description_b{
			color: #2E58FF;
			font-weight: bold;
			font-size: large;
		}

		#wrapper #main .show_description a.show_description_a{
			color: black;
			display: compact;
			width: 100%;
			overflow: visible;
			text-overflow: ellipsis;
		}
		
/*      ************WRAPPER / MAIN / CODES_SHOW / SHOW_CODE************      */		
		
		#wrapper #main .show_code{
			width: 100%;
		}
		
		#wrapper #main b.show_code_b{
			color: #2E58FF;
			font-weight: bold;
			padding-left: 7px;
			font-size: large;
		}
		
		#wrapper #main .show_code td{
			background-color: #eeeeee;
			text-align:center;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		
		#wrapper #main .show_code a.show_code_a{
			color: black;
		}

/*      ************WRAPPER / MAIN / CODES_SHOW / SHOW_CODE / CODE_REPLIES************      */

		#wrapper #main .code_reply_table{
			background-color: #f5f5f5;
			width: 100%;
		}
	
		#wrapper #main a.show_title_a2{
						color: #6495ED;
						text-decoration: none;
						font-size: small;
						font-weight: bold;
					}
	
		#wrapper #main a.show_title_a1{
						color: #555555;
						text-decoration: none;
						font-size: small;
					}
	
				#wrapper #main a.show_title_a1:hover{
					text-decoration: underline;
				}
				
		#wrapper #main td.add_response_td {
						text-align: center;
						border-top: solid #f5f5f5 5px;
					}
		
			#wrapper #main a.show_title_a3{
							color: black;
							text-decoration: none;
							font-size: small;
							border: solid #A9A9A9 1px;
							background-color: white;
							padding: 5px;
						}
						
					#wrapper #main a.show_title_a3:hover{
								background-color: #B0C4DE;
							}
		

/*      ************WRAPPER / MAIN / CODES_SHOW / SHOW_CODE / COMMENT / ILIKE_IDISLIKE************      */	
			#wrapper #main .show_code_ilike{
				width: 50%;
				text-align: center;
				padding-right: 50px;
			}
			
				#wrapper #main .show_code_ilike .ilike_table{
					border: 2px solid white;
					margin-left: 72.7%;
				}
				
					#wrapper #main .show_code_ilike .ilike_table td{
					border: 1px solid #eeeeee;
					width: 20px;
					text-align: center;
				}
				
					#wrapper #main .like_button{
						width: 43px;
						height: 30px;
						background-image: url('/images/like-unselected.png');
						display:block;
						border: solid #A9A9A9 1px;
					}
					
						#wrapper #main .like_button:hover{
							background-image: url('/images/like-hover.png');
							cursor: pointer;
						}
						
						#wrapper #main .like_button:active{
							background-image: url('/images/like-selected.png');
						}
					
					#wrapper #main .dislike_button{
						width: 43px;
						height: 30px;
						background-image: url('/images/dislike-unselected.png');
						display:block;
						border: solid #A9A9A9 1px;
					}
					
						#wrapper #main .dislike_button:hover{
							background-image: url('/images/dislike-hover.png');
							cursor: pointer;
						}
						
						#wrapper #main .dislike_button:active{
							background-image: url('/images/dislike-selected.png');
						}
					
/*      ************WRAPPER / MAIN / CODES_SHOW / SHOW_CODE / COMMENT / SHOW_COMMENTS************      */	
			#wrapper #main .comments_table{
				width: 90%;
			}
	
				#wrapper #main .comments_table_td1{
					text-align:center;
				}
	
				#wrapper #main .comments_table_td2{
					border-top: 2px #eeeeee solid;
				}
	
				#wrapper #main .comments_table a.show_title_a2{
						color: #6495ED;
						text-decoration: none;
						font-size: small;
					}
	
				#wrapper #main .comments_table a.show_title_a2:hover{
					text-decoration: underline;
				}
				
/*      ************WRAPPER / MAIN / CODES_SHOW / SHOW_CODE / COMMENT************      */
        #wrapper #main .comment_text_area{
	        	height: 100px;
	        }
			#wrapper #main .show_code_rateandcomment{
				width: 100%;
				background-color: #f5f5f5 !important;
			}
	
			#wrapper #main .show_code_makecomment{
				width: 50%;
				padding-left: 50%;
			}
	
	        	#wrapper #main .comment_text_area{
	        		height: 100px;
	        	}
				
			#wrapper #main .show_code_makecomment .submit_button{
					color: black;
					text-decoration: none;
					font-size: small;
					font-weight: 100;
					border: solid #A9A9A9 1px;
					background-color: white;
					padding: 5px;
					height: auto;
					width: auto;
			}
			
				#wrapper #main .show_code_makecomment .submit_button:hover{
					background-color: #B0C4DE;
					cursor: pointer;
				}
				
		#wrapper #main #profile {
			
		}
		
			#wrapper #main #profile #picture {
				border: 1px ridge #B0C4DE;
			}
			
			#wrapper #main #profile p {
				margin: 0;
				padding: 0;
			}
			
				#wrapper #main #profile p#username {
					left: 160px;
					top: 70px;
					font-size: 30px;
					position: absolute;
				}
				
				#wrapper #main #profile p#member_since {
					position: absolute;
					top: 120px;
					left: 160px;
					font-size: 16px;
				}
