#wrapper {
	width:1050px;
	height:auto;
	border:5px white solid;
	margin: 0 auto;
	
	font-family: Verdana,Geneva,sans-serif;
	color:#555555;
	font-size: 13px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}

	#wrapper h1 {
		font-family: Georgia,"Times New Roman",Times,serif;
		font-size-adjust: none;
		font-stretch: normal;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		line-height: normal;
	}


/*      ************WRAPPER / SIDEBAR************      */
	#wrapper #sidebar{
		width:150px;
		border:5px white solid;
		float:left;
		text-align:center;
	}

		#wrapper #sidebar a.buttons {
			background-color:white;
			/*border-bottom:1px #cccccc solid;*/
			border:1px #cccccc solid;
			width:100px;
			height:25px;
			text-align:center;
			padding-top:7px;
			display:block;
			color:black;
			text-decoration:none;
			margin: 0 auto;
		}

		#wrapper #sidebar a:hover{
			background-color:#B0C4DE; 
		}

		#wrapper #sidebar a:active{
			background-color:#6495ED; 
		}

		#wrapper #sidebar #slika{
			background-image:url("/images/sidebar title.png");
			width:150px;
			height:150px;
			cursor: pointer;
		}




/*      ************WRAPPER / MAIN************      */
	#wrapper #main{
		width:850px;
		float:right;
		position: relative;	
	}
	
	
	
	
/*      ************WRAPPER / MAIN / LOGINBAR ************      */	
		#wrapper #main #loginbar {
			position: absolute;
			right: 0px;
			border: 1px #cccccc solid;
			font-size:xx-small;
			/*background-color: #eeeeee;*/
		}
		
			#wrapper #main #loginbar input{
				width: 50px;
				height: 13px;
				font-size: xx-small;
			}
			
			#wrapper #main #loginbar .login_button{
				height:20px;
				position:relative;
				top:1px;
			}

/*      ************WRAPPER / MAIN / LIBRARY************      */   /* code/index in profile/show */	
		#wrapper #main .legend_tr{
			background-color: #eeeeee;
		}
		
		#wrapper #main .legend_td{
			text-align: center;
		}
		
		#wrapper #main a.legend_a{
			color: #A9A9A9;
			font-size: large;
		}
		
		#wrapper #main a:hover{
			text-decoration: underline;
		}

		#wrapper #main form {
			font-size: 13px;
			color: #555555;
			font-family: Arial,Helvetica,Tahoma,Verdana,Sans-Serif;
			font-size-adjust: none;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
		}

		#wrapper #main form#new_code  {
			
		}
			
			#wrapper #main form#new_code input, #wrapper #main form#new_code textarea {
				width: 300px;
			} 
			
			#wrapper #main form#new_code input#code_submit {
				width: auto;
			}
			
			#wrapper #main form#new_code textarea#code_description {
				height: 150px;
			}
			
			#wrapper #main form#new_code textarea#code_code_body  {
				width: 600px;
			}

/*      ************WRAPPER / MAIN / LIBRARY / .codes_table ************      */
		#wrapper #main .codes_table {
			width: 100%;
			background-color: white;
			/*border: solid #eeeeee 2px;*/
			border-top: solid #eeeeee 2px;
		}

			#wrapper #main .codes_table td {
				background-color: white;
			}
			
			#wrapper #main .codes_table td.codes_table_td {
				background-color: #eeeeee;
				text-align: center;
				font-size: large;
				color: blue;
			}

			#wrapper #main .codes_table a{
				text-decoration: none;
				color: blue;
				font-size: large;
			}
			
			#wrapper #main .codes_table a.codes_table_a{
				color: #A9A9A9;
				font-size: small;
			}

			#wrapper #main .codes_table a:hover{
				text-decoration: underline;
				color: blue;
			}

			#wrapper #main .codes_table p{
				color: #B0C444;
				font-size: medium;
			}
			
			#wrapper #main .codes_table p.codes_table_p{
				color: #A9A9A9;
				font-size: small;
			}
			
			#wrapper #main .codes_table p.codes_table_p :hover{
				color: #A9A9A9;
				text-decoration: underline;
			}
