<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>CodeArchiver</title>
		<%= stylesheet_link_tag 'style' %>
	</head>
	<body>
		
		<div id="wrapper">
			<div id="sidebar">
				
				<div id="slika">
						
				</div>
				-------
				<a href="">Main</a> 
				<a href="">Library</a> 
				<a href="">Add Code</a> 
				<a href="">Profile</a> 
			</div>
			<div id="main">
				<%= yield %>
			</div>
			<div style="clear: both"></div>
		</div>
	</body>
</html>
