<h1 class="show_title">Help</h1>

<h2>How to istall Eclipse plugin?</h2>

<ol>
	<li>Download plugin from <a href="http://code-archive.net/ca-plugin.jar">Code-Archive.net</a> </li>
	<li>Copy archive to {ECLIPSE_INSTALL_DIR}/plugin</li>
	<li>Turn on plugin in Eclipse: Window -> Show View -> Other -> Sample Directory -> CodeArchive</li>
</ol>
