#wrapper {
	width:1010px;
	height:auto;
	border:5px white solid;
	margin: 0 auto;
	
	font-family: Verdana,Geneva,sans-serif;
	color:#555555;
	font-size: 13px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}

	#wrapper h1 {
		font-family: Georgia,"Times New Roman",Times,serif;
		font-size-adjust: none;
		font-stretch: normal;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		line-height: normal;
	}


/*      ************WRAPPER / SIDEBAR************      */
	#wrapper #sidebar{
		width:150px;
		border:5px white solid;
		float:left;
		text-align:center;
	}

		#wrapper #sidebar a.buttons {
			background-color:white;
			/*border-bottom:1px #cccccc solid;*/
			border:1px #cccccc solid;
			width:100px;
			height:25px;
			text-align:center;
			padding-top:7px;
			display:block;
			color:black;
			text-decoration:none;
			margin: 0 auto;
		}

		#wrapper #sidebar a:hover{
			background-color:#B0C4DE; 
		}

		#wrapper #sidebar a:active{
			background-color:#6495ED; 
		}

		#wrapper #sidebar #slika{
			background-image:url("/images/sidebar title.png");
			width:150px;
			height:150px;
			cursor: pointer;
		}




/*      ************WRAPPER / MAIN************      */
	#wrapper #main{
		width:850px;
		float:right;
		position: relative;	
	}
	
	
	
	
/*      ************WRAPPER / MAIN / LOGINBAR ************      */	
		#wrapper #main #loginbar {
			position: absolute;
			right: 0px;
			border: 1px #cccccc solid;
			font-size:xx-small;
			/*background-color: #eeeeee;*/
		}
		
			#wrapper #main #loginbar input{
				width: 50px;
				height: 13px;
				font-size: xx-small;
			}
			
			#wrapper #main #loginbar .login_button{
				height:20px;
				position:relative;
				top:1px;
			}

/*      ************WRAPPER / MAIN / LIBRARY************      */   /* code/index in profile/show */	



/*      ************WRAPPER / MAIN / LIBRARY / LIBRARY_CATEGORIES_TABLE************      */  

		#wrapper #main .library_categories_table{
			width: 100%;
		}
		
			#wrapper #main .library_categories_table td{
				text-align: center;
				width: 10%;
				border: #cccccc solid 1px;
				padding: 0;
				margin: 0 auto;
			}
			
			
			#wrapper #main .library_categories_table td :hover{
				background-color: #B0C4DE;
				color: black;
			}
			
			#wrapper #main .library_categories_table td :active{
				background-color: #6495ED;
				color: black;
			}
			
				#wrapper #main .library_categories_table td .categories_table_a{
					text-decoration: none;
					color: black;
				}
			
				#wrapper #main .library_categories_table td .categories_table_a :hover{
					text-decoration: none;
					color: black;
				}
			
				#wrapper #main .library_categories_table td .categories_table_a :active{
					text-decoration: none;
					color: black;
				}
		
		
/*      ************WRAPPER / MAIN / LIBRARY / LEGEND************      */ 			
		#wrapper #main .legend_tr{
			background-color: #eeeeee;
		}
		
		#wrapper #main .legend_td{
			text-align: center;
		}
		
		#wrapper #main a.legend_a{
			color: #A9A9A9;
			font-size: small;
		}
		
		#wrapper #main a.legend_a :hover{
			text-decoration: underline;
		}


/*      ************WRAPPER / MAIN / FORM************      */   
		#wrapper #main form {
			font-size: 13px;
			color: #555555;
			font-family: Arial,Helvetica,Tahoma,Verdana,Sans-Serif;
			font-size-adjust: none;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
		}

		#wrapper #main form  {
			position: relative;	
		}
			
			#wrapper #main form input, #wrapper #main form textarea {
				width: 300px;
			}
			
			#wrapper #main form textarea#code_description {
				height: 150px;
			}
			
			#wrapper #main form textarea#code_code_body  {
				width: 600px;
			}
			
			#wrapper #main form p#program_language_id {
				left: 330px;
				position:absolute;
				top: 95px;
			}
			
			#wrapper #main form p#category_id {
				left: 465px;
				position: absolute;
				top: 95px;
			}
			
			#wrapper #main form input[type="submit"]{
				height: auto;
				width: auto;
			}
			

/*      ************WRAPPER / MAIN / LIBRARY / .codes_table ************      */
		#wrapper #main .codes_table {
			width: 100%;
			background-color: white;
			/*border: solid #eeeeee 2px;*/
			border-top: solid #eeeeee 1px;
		}

			#wrapper #main .codes_table td {
				background-color: white;
			}
			
			#wrapper #main .codes_table td.codes_table_td {
				background-color: #white;
				/*border: #eeeeee solid 2px;*/
				text-align: center;
				color: blue;
			}

			#wrapper #main .codes_table a{
				text-decoration: none;
				color: blue;
				font-size: medium;
			}
			
			#wrapper #main .codes_table a.codes_table_a{
				color: #A9A9A9;
				font-size: xx-small;
			}

			#wrapper #main .codes_table a:hover{
				text-decoration: underline;
				color: blue;
			}

			#wrapper #main .codes_table p{
				color: #B0C444;
			}
			
			#wrapper #main .codes_table p.codes_table_p{
				color: #A9A9A9;
				font-size: xx-small;
			}
			
			#wrapper #main .codes_table p.codes_table_p :hover{
				color: #A9A9A9;
				text-decoration: underline;
			}

			
/*      ************WRAPPER / MAIN / CODES_SHOW************      */			
			
/*      ************WRAPPER / MAIN / CODES_SHOW / SHOW_TITLE************      */

		#wrapper #main .show_table{
			width: 100%;
			background-color: #eeeeee;
			padding-top: 3px;
			padding-bottom: 3px;
			padding-left: 10px;
		}
		
			#wrapper #main .show_table td.show_table_td2{
				text-align: right;
				color: #555555;
				padding-right: 10px;
			}

				#wrapper #main .show_table h1.show_title{
					color: #6495ED;
					font-weight: bold;
				}
		
				#wrapper #main .show_table h1.show_title a.show_title_a{
					color:#555555;
					font-size: small;
					font-weight: normal;
				}
				
				#wrapper #main .show_table h1.show_title a.show_title_a :hover{
					text-decoration: none;
				}
		
				#wrapper #main .show_table h1.show_title a.show_title_a2{
					color: #6495ED;
					text-decoration: none;
					font-size: small;
				}
				
				#wrapper #main .show_table h1.show_title a.show_title_a2 :hover{
					text-decoration: underline;
				}
				
/*      ************WRAPPER / MAIN / CODES_SHOW / SHOW_DESCRIPTION************      */
		#wrapper #main .show_description{
			width: 100%;
			border: white solid 5px;
		}
		
		#wrapper #main .show_description b.show_description_b{
			color: #2E58FF;
			font-weight: bold;
			font-size: large;
		}

		#wrapper #main .show_description a.show_description_a{
			color: black;
		}
		
/*      ************WRAPPER / MAIN / CODES_SHOW / SHOW_CODE************      */		
		
		#wrapper #main .show_code{
			width: 100%;
		}
		
		#wrapper #main b.show_code_b{
			color: #2E58FF;
			font-weight: bold;
			padding-left: 7px;
			font-size: large;
		}
		
		#wrapper #main .show_code td{
			background-color: #eeeeee;
			text-align:center;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		
		#wrapper #main .show_code a.show_code_a{
			color: black;
		}

		
/*      ************WRAPPER / MAIN / CODES_SHOW / SHOW_CODE / COMMENT************      */
        #wrapper #main .comment_text_area{
        	height: 100px;
        }
